---
title: Calendario 2016 - 5pani2pesci
logo: images/logo-5p2p-128.png

header:

  - Volevamo stare con voi per tutto il 2016
  - Ogni mese un articolo ed una frase per vivere un anno da Dio
  - Ordina il Calendario
  - images/gallery/calendario-2016-5.jpg

message:

  - icon: 1 #ion-ios-circle-filled
    title: È bello annunciare il Signore! #La bellezza
    text: Una volta fatta esperienza di Dio nasce il desiderio di esprimerlo in tutti i modi possibili. Anche attraverso un calendario si può entrare nel cuore delle persone per annunciare che <i>l'amore chiama &mdash; l'amore è urgente.</i>

  - icon: 2 #ion-paper-airplane
    title: Ad ogni creatura #Per tutti
    text: bla bla bla

  - icon: 3 #ion-ios-barcode
    title: E con ogni mezzo :)
    text: du du du

finalmessage:

  5pani2pesci è un progetto per conoscere l'Amore vero, quello che ti cambia la vita. Il nostro augurio e la nostra missione è accompagnarti in questo cammino per aiutarti ad approfondire un incontro autentico col Signore e portare pienamente frutto nella tua vita.

parallax:

  - text:
    image: images/gallery/calendario-2016-8.jpg

  - text:
    image: images/gallery/calendario-2016-13.jpg

lightbox:

  - images/gallery/calendario-2016-7.jpg
  - images/gallery/calendario-2016-2.jpg

  - images/gallery/calendario-2016-10.jpg
  - images/gallery/calendario-2016-11.jpg
  - images/gallery/calendario-2016-12.jpg

  - images/gallery/calendario-2016-8.jpg
  - images/gallery/calendario-2016-9.jpg
  

menu: 
      - Come si usa?
      - Come si usa?

menu-mobile: 
      - Come si usa in mobile?
      - Come si usa in mobile?
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <title>{{page.title}}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{site.baseurl}}/{{page.logo}}">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,400italic,700|Roboto+Condensed:300' rel='stylesheet' type='text/css'>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- ionicons icons -->
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
</head>




<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><span class="img-helper"></span><img src="{{site.baseurl}}/{{page.logo}}"</a>
      <ul class="right hide-on-med-and-down">
        {% for item in page.menu %}
        <li><a href="#">{{ item }}</a></li>
        {% endfor %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        {% for item in page.menu-mobile %}
        <li><a href="#">{{ item }}</a></li>
        {% endfor %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container myparent">
    <div class="section no-pad-bot mychild">
      <div class="container">
        <div class='extra-space'></div>
        <!-- <h1 class="header center teal-text text-lighten-2">{{page.header-message[0]}}</h1> -->
        <h1 class="header center light">{{page.header[0]}}</h1>
        <div class="row center">
          <h5 class="header col s12 light no-bold-text">{{page.header[1]}}</h5>
        </div>
        <div class="row center">
          <a href="" id="download-button" class="btn-large waves-effect waves-yellow btn-bright">{{page.header[2]}} <i class="material-icons right">today</i></a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{{site.baseurl}}/{{page.header[3]}}" alt="{{page.title}}"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">

      {% for message in page.message %}
        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center text-bright"><i class="material-icons">{{message.icon}}</i></h2> -->
            <!-- <h2 class="center text-bright"><i class="icon {{message.icon}}"></i></h2> -->
            <h2 class="center text-bright">{{message.icon}}</h2>
            <h5 class="center bold-text" style="height:3rem;">{{message.title}}</h5>

            <p class="light">{{message.text}}</p>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row nomargin">
          <div class="col s12 m6"><img class="materialboxed" width="100%" src="{{page.lightbox[0]}}"></div>
          <div class="col s12 m6"><img class="materialboxed" width="100%" src="{{page.lightbox[1]}}"></div>
      </div>
      <div class="row nomargin">
          <div class="col s12 m4"><img class="materialboxed" width="100%" src="{{page.lightbox[2]}}"></div>
          <div class="col s12 m4"><img class="materialboxed" width="100%" src="{{page.lightbox[3]}}"></div>
          <div class="col s12 m4"><img class="materialboxed" width="100%" src="{{page.lightbox[4]}}"></div>
      </div>
    </div>
  </div>

 <!--  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">{{page.parallax[0].text}}</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img class="noopacity" src="{{site.baseurl}}/{{page.parallax[0].image}}" alt=""></div>
  </div> -->

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <!-- <h3><i class="mdi-content-send text-bright"></i></h3> -->
          <h4>Come funziona?</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>  

    <div class="container">
    <div class="section">
      <div class="row nomargin">
          <div class="col s12 m6"><img class="materialboxed" width="100%" src="{{page.lightbox[5]}}"></div>
          <div class="col s12 m6"><img class="materialboxed" width="100%" src="{{page.lightbox[6]}}"></div>
      </div>
      </div>  
    </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <!-- <h3><i class="mdi-content-send text-bright"></i></h3> -->
          <h4>Ordina il calendario</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">{{page.parallax[1].text}}</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img class="noopacity" src="{{site.baseurl}}/{{page.parallax[1].image}}" alt="{{page.title}}"></div>
  </div>

  <!-- <footer class="page-footer color-5p2p"> -->
  <footer class="page-footer yellow">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text">Chi siamo</h5>
          <p class="grey-text text-lighten-4">{{ page.finalmessage}}</p>

        </div>
        <div class="col l3 offset-l1 s12">
          <h5 class="white-text">Seguici su:</h5>
          <ul>
            <li><a class="white-text" href="{{site.blog}}">Blog</a></li>
            <li><a class="white-text" href="{{site.social.facebook}}">Facebook</a></li>
            <li><a class="white-text" href="{{site.social.twitter}}">Twitter</a></li>
            <li><a class="white-text" href="{{site.social.youtube}}">Youtube</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Crafted with <i class="icon red-text text-lighten-2 ion-heart"></i> by <a class="" href="http://5p2p.it">5pani2pesci</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{site.baseurl}}/js/materialize.js"></script>
  <script src="{{site.baseurl}}/js/init.js"></script>

  </body>
</html>
