
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <title>{{page.title}}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{site.baseurl}}/{{site.logo}}">

  <!-- CSS  -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <link href="{{site.baseurl}}/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,400italic,700|Roboto+Condensed:300' rel='stylesheet' type='text/css'>
  <link href="{{site.baseurl}}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- awesome icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="http://5p2p.it" class="brand-logo"><span class="img-helper"></span><img src="{{site.baseurl}}/{{site.logo}}"</a>
      

    </div>
  </nav>


{{content}}